@charset "utf-8";

/* メインカラー 500 */
#blog-title, .entry-content h2, .entry-content ol li:before, .page-index .pager a:hover, .page-entry .pager .pager-prev::before, .page-entry .pager .pager-next::after, .hatena-module-title, .archive-heading
{background-color:#3F51B5;}

.entry-content p a, .entry-content h3, .entry-content h4::before, .entry-content ul ul li::before, ul.table-of-contents:before, .page-index .pager a, .page-entry .pager span a, .urllist-item::before, .hatena-module-category .hatena-urllist li::before, .entry-content ul li::before
{color:#3F51B5;}

.archive-heading::before, .entry-content h2::before
{border-top-color:#色コード;}

.entry-content h3
{border-left: 6px solid #5c6ac0;color:#000000;background-color:transparent;}
}

ul.table-of-contents, .page-index .pager a, .page-entry .pager span
{border-color:#色コード;}


@media screen and (max-width: 480px){
.entry-content h2
{border-bottom:3px solid #色コード;color:#色コード;background-color:transparent;}
}


/* 濃い色 600 */
#globalheader-container, .zeno-menu li a:hover
{background:#3F51B5;}

.entry-content p a:visited {color:#色コード;}

/* 薄い色 400 */
.page-entry .pager span a:hover, #zeno-menu, .entry-content ol ol li:before
{background:#5C6BC0;}

/* カテゴリー背景色 */
.page-index .entry-categories, .page-entry .entry-categories{
    background:#FFC107;
}


/* おすすめ記事のSPスクロール */
@media screen and (max-width: 480px){
.recommends {
      width: 220%;
}
.recommends a.recommend-entry:nth-of-type(n+3){
      display: block;
}
.recommends a.recommend-entry:not(:last-of-type){
      margin-right: 1%;
}
}

/* コピーライト */
#bottom-editarea {
    width: 100%;
    margin: 0 auto;
    background: #444444;
    padding: 0;
    color: #ffffff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#footer {
    text-align: center;
    color: #ffffff;
    background: #3F51B5;
    width: 100%;
    margin: 0;
    padding: 2em 40px 1em 40px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 80%;
}
#blog-title-content a {
    font-size: 0px;
    font-weight: 100px;
    color: #ffffff;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    display: inline-block;
    padding: 0 6px;
    font-size: 14.5px;
    box-sizing: border-box;
}
.copyright {
    font-size: 10px;
}
/*自分で設定したフッターとページ下の余白を消す*/
#container {
  margin-bottom: 20;
}

/*--------------------------------------
  ヨメレバ・カエレバ（レスポンシブ）
--------------------------------------*/
.booklink-box, .kaerebalink-box{
    padding:25px;
    margin-bottom: 10px;
    border:double #CCC;
    overflow: hidden;
    font-size:small;
}
.booklink-image, .kaerebalink-image{
    margin:0 15px 0 0;
    float:left;
    min-width: 160px;
    text-align: center;
}
.booklink-image img, .kaerebalink-image img{
    margin:0 auto;
    text-align:center;
}
.booklink-info, .kaerebalink-info{
    margin:0;
    line-height:120%;
    overflow: hidden;
}
.booklink-name, .kaerebalink-name{
    margin-bottom:24px;
    line-height:1.5em;
}
.booklink-powered-date, .kaerebalink-powered-date{
     font-size:8px;
     margin-top:10px;
     font-family:verdana;
     line-height:120%;
}
.booklink-detail, .kaerebalink-detail{font-size: 12px;}
.booklink-powered-date, .kaerebalink-detail{margin-bottom:15px;}
.booklink-link2, .kaerebalink-link1{margin-top:10px;}
.booklink-link2 a,
.kaerebalink-link1 a{
    width:30%;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    margin:5px 2px 0 0;
    padding:10px 1px;
    text-align:center;
    float:left;
    text-decoration:none;
    font-weight:800;
    text-shadow:1px 1px 1px #dcdcdc;
    font-size:12px;
    color: #fff !important;
}
.booklink-link2 a:hover,
.kaerebalink-link1 a:hover{opacity: 0.6;}
.booklink-link2 a:active
.kaerebalink-link1 a:active{
    position:relative;
    top:1px;
}
/*ボタンを変えるときはここから*/
.shoplinkamazon a{color:#FF9901 !important;border: 1px solid #FF9901 !important;}
.shoplinkrakuten a{color:#c20004 !important;border: 1px solid #c20004 !important;}
.shoplinkkindle a{color:#007dcd !important;border: 1px solid #007dcd !important;}
.shoplinkkakakucom a{color:#314995 !important;border: 1px solid #314995;}
.shoplinkyahoo a{color:#7b0099 !important;border: 1px solid #7b0099 !important;}
/*ここまでを変更*/
.shoplinkyahoo img{display:none;}
.shoplinkyahoo a{font-size:10px;}
.booklink-footer{display: none;}

@media screen and (max-width: 680px) {
.booklink-box, .kaerebalink-box{padding:15px;}
.booklink-image, .kaerebalink-image{
    width: 100px !important;
    min-width: initial;
}
.booklink-name > a, .kaerebalink-name > a{
    font-size: 15px;
    font-weight: bold;
}
.booklink-name, .kaerebalink-name{margin-bottom:12px;}
.booklink-powered-date, .kaerebalink-powered-date{margin-top:5px;}
.booklink-link2 a,
.kaerebalink-link1 a{
    width:calc(100% - 4px);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin: 2px 0px;
    padding:10px 0px;
}
}
/*ここまでを変更*/
.shoplinkamazon img{display:none;}
.shoplinkkindle img{display:none;}
.shoplinkrakuten img{display:none;}
.shoplinkyahoo img{display:none;}
.shoplinkyahoo a{font-size:10px;}
.booklink-footer{display: none;}

/*太字マーカーデザイン*/
.entry-content strong{
	background: -webkit-linear-gradient(transparent 60%, #ffd700 60%)!important;
	background: -o-linear-gradient(transparent 60%, #ffd700 60%)!important;
	background: linear-gradient(transparent 60%, #ffd700 60%)!important;
}


/* ヘッダー背景画像を直接URL指定 
#blog-title-inner{
background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/k/kerneln/20190106/20190106153621.jpg);
background-position:center center;
background-repeat: no-repeat;
}
*/

/*ヘッダーのh1とh2を非表示に*/
h1#title{display:none;}
h2#blog-description{display:none;}

/*ヘッダー画像の高さ指定*/
#blog-title{
 height:58px;
}

/*サイドホバーボタン*/
a.cp_btn {
display: block;
width: auto;
margin: 10px 0px 0px auto;
padding: 0.8em;
text-align: center;
text-decoration: none;
color: #EC407A;
border: 2px solid #1B3445;
border-radius: 3px;
transition: .4s;
}
a.cp_btn:hover {
background: #1B3445;
color: #fff;
}

/*はてなフォトの画像を中央揃えに*/
.hatena-fotolife{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

/*リンクボタンの周りの装飾*/
.entry-content .emphasize-link {
  position: relative;
  margin: 36px 0 16px;
  padding: 16px 10px;
  border: 2px solid #ee7917;
  background-color: #fffbf5;
}
.entry-content .emphasize-link p:last-child {
  margin-bottom: 0;
}
.entry-content .emphasize-link::before {
  position: absolute;
  top: -12px;
  left: 10px;
  padding: 0 10px 0 26px;
  content: "Check!!";
  background-color: #ee7917;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.entry-content .emphasize-link::after {
  position: absolute;
  top: -16px;
  left: 4px;
  width: 28px;
  height: 28px;
  background-color: #ee7917;
  border-radius: 14px;
  line-height: 25px;
  text-align: center;
  content: "\f029";
  font-size: 18px;
  font-family: "blogicon";
  color: #fff;
}

/*アソシエイトの囲い線*/
.babylink-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}


/*サイドメニューフォローボタン*/
.follow-btn{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.follow-btn a {
    display: inline-block;
    height: 45px;
    line-height: 22px;
    width: 25%;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.follow-btn .hatena {
    color: #3D3F44;
    border: 2px solid #3D3F44;
    background: #ffffff; 
}
.follow-btn .twitter {
    color: #00ACEE;
    border: 2px solid #00ACEE;
    background: #ffffff; 
}
.follow-btn .feedly { 
    color: #70CA3B;
    border: 2px solid #70CA3B;
    background: #ffffff;
}
.follow-btn .hatena:hover {
    color: #ffffff;
    background: #3D3F44;
    transition: all .3s;
}
.follow-btn .twitter:hover {
    color: #ffffff;
    background: #00ACEE;
    transition: all .3s;
}
.follow-btn .feedly:hover {
    color: #ffffff;
    background: #70CA3B;
    transition: all .3s;
}
.text-small{
    font-size: 8px;
}



/*サイドバータブメニュー*/
.tab{
    display: inline-block;
    padding: 8px 15px 5px 15px;/*横に入りきらない場合はこの２番目と４番目の数字を小さく*/
    background: #f0f0f0;/*反応していないタブの背景色*/
    border-radius: 5px 5px 0 0;
    font-size: 12px;/*横に入りきらない場合はここの数字を小さく*/
    cursor: pointer;
}
.active{
    color: white;
    background: black;/*反応しているタブの背景色*/
    border-radius: 5px 5px 0 0;
}
.hatena-module-title2{
    border-bottom: 3px solid black;/*タブの下線*/
    margin-bottom: 12px;
}



/*記事下おすすめ*/
.iine{
    display: -webkit-flex;
    display: flex;
    margin: 0 0 1em 0;
}
.iine-l{
    width: 50%;
    color: transparent;
    background-size: cover;
    background-position: center center;
}
.iine-r{
    width: 50%;
    background: #333;
    color: #fff;
    padding: 2em 1em;
    text-align: center;
}

.iine-icon{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.iine-icon a{
    color: #fff;
    font-size: 0.7rem;
    display: inline-block;
    margin:1rem 0;
    padding:0.3rem 0 0.45rem 0;
    width:32%;
    text-decoration:none;
}

.iine-hatenablog{
    background: #606060;
}
.iine-twitter{
    background:#1b95e0;
}
.iine-feedly{
    background:#2BB24C;
}
.iine-hatenablog:hover{
    background:#666;
}
.iine-twitter:hover{
    background:#31a3ea;
}
.iine-feedly:hover{
    background:#2ebc50;
}

.iine-icon a::before{
    font-family: blogicon;
    font-size: 0.9rem;
    margin: 0 0.2rem 0 0;
    position: relative;
    top: 0.15rem;
}
.iine-hatenablog::before{
    content: '\f000';
}
.iine-twitter::before{
    content: '\f035';
}
.iine-feedly::before{
    content: '\f04e';
}

.iine-0{
    font-weight:bold;
    margin:0 0 0.5rem 0;
}
.iine-1{
    font-size: 0.9rem;
}
.iine-2{
    font-size: 0.8rem;
}

@media screen and (max-width: 640px){
.iine{
    display: block;
    position: relative;
}
.iine-l{
    width: 100%;
    height: 45vw;
}
.iine-r{
    width: 100%;
    min-height: 0;
}
.iine-0{
    font-size: 110%;
}
}



/* 吹き出しのCSS　*/
.entry-content .l-fuki,
.entry-content .r-fuki {
	position: relative;
	width: 80%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
	border-radius: 6px;
	border: 2px solid #999;
	box-shadow: 1px 1px 5px #aaa;
	background-color: #fff;
	z-index: 1;
}
.entry-content .l-fuki {
	margin: 20px 20% 40px 0;
}
.entry-content .r-fuki {
	margin: 20px 0 40px 19%;
}
.entry-content .l-fuki::before,
.entry-content .r-fuki::before {
	position: absolute;
	content: "";
	top: 16px;
	width: 10px;
	height: 10px;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	background-color: #fff;
	z-index: 2;
}
.entry-content .l-fuki::before {
	right: -7px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.entry-content .r-fuki::before {
	left: -7px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.entry-content .l-fuki::after,
.entry-content .r-fuki::after {
	position: absolute;
	content: "";
	width: 80px;
	height: 80px;
	top: -10px;
	border-radius: 40px;
	border: 3px solid #fff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 5px #aaa;
}
.entry-content .l-fuki::after {
	right: -110px;
}
.entry-content .r-fuki::after {
	left: -110px;
}
@media screen and (max-width: 620px) {
	.entry-content .l-fuki,
	.entry-content .r-fuki {
		width: 70%
	}
	.entry-content .l-fuki {
		margin-right: 30%;
	}
	.entry-content .r-fuki {
		margin-left: 30%;
	}
}
@media screen and (max-width: 478px) {
	.entry-content .l-fuki::after,
	.entry-content .r-fuki::after {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}
	.entry-content .l-fuki::after {
		right: -84px;
	}
	.entry-content .r-fuki::after {
		left: -84px;
	}
}
.fuki1::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/k/kerneln/20180728/20180728183825.png?1532770728.png);}
.fuki2::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/k/kerneln/20180728/20180728183825.png?1532770728.png);}
.fuki3::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/k/kerneln/20180520/20180520235148.jpg);}
.fuki4::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/k/kerneln/20180520/20180520232842.jpg);}


/* 見出しのCSS　*/
h3 {
color: #010079;
text-shadow: 0 0 5px white;
padding: 0.3em 0.5em;
background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.entry-content h4 {
    font-size: 1.3rem;
    padding: 1em 0 0 0;
    margin: 0 0 .5em 0;
    color: black;
}

.entry-content h4::before {
    content: '\f029';
    font-family: blogicon;
    margin-right: .5em;
    color: #FFC107;
}

/* グロナビの多段化　*/
.zeno-menu{
  -webkit-flex-wrap: wrap;
  flex-wrap:wrap;  /* 多段になるようにします */
}
.zeno-menu li{
  width:16.5%;  /* 普段の1つあたりの幅 */
}

@media screen and (max-width: 780px){
.zeno-menu li{
  width: 33%;  /* 横幅780ピクセル以下のときの1つあたりの幅 */
}
}
@media screen and (max-width: 480px){
.zeno-menu li{
  width: 50%;  /* 横幅480ピクセル以下のときの1つあたりの幅 */
}
}

/* カテゴリー見出しの見出しのさきっちょ　*/
.archive-heading::before {
    position: absolute;
    top: 100%;
    content: '';
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #3F51B5 transparent transparent transparent;
}

/* グロナビのサイズ調整　*/
.zeno-menu li a {
    color: #fff;
    display: block;
    width: 100%;
    padding: 0.6em 0;
    text-align: center;
}

/* SPカテゴリーのパディング調整　*/
.page-archive .archive-entries {
    padding: 0 0 0 5px;
}

/* SP表示時のフォントサイズ調整　*/
@media screen and (max-width: 768px) {
.page-entry .entry-title {
font-size : 160% ; }
}